<!DOCTYPE html>

<!-- hgc 9/2016 -->

<html>
<head>
<meta charset=utf-8 />
<title>Materials</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!-- libraries -->
<script src='helpers.js'></script>
<script src='vue.js'></script>
<script src='pca.js'></script>
<script src='knn.js'></script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src='https://unpkg.com/numeric@1.2.6/numeric-1.2.6.js'></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




<style>
  body { margin:0; padding:0; }
  
  #PlotContainer{
    
  }
  #SpectrumGraph{
    display: inline-block;
  }
  #Plot2D{
    
    display: inline-block;
    
  }
  #Plot3D{
    width:600px;
    height:400px;

    display: inline-block;
  }


</style>
</head>
<body>
<center>



<!-- HTML -->

<img  src="img/logo.jpg" height="100px"></img><br>





<div  id='mainDiv'>

  <!-- Button trigger modal -->
<button type="button" v-on:click="InitClassifier($event)" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  Blind Classifer
</button>


    <h4>Class List</h4> <button v-on:click="PerformPCA($event)">PCA</button> Check the data sets to include in PCA, and click PCA for analysis.<br><br>
    <button v-on:click="ClearGraph($event)">Clear Graph</button><br><br>
    Enable White Correction<input type="checkbox" id="checkbox" v-model="whiteCorrectionEnabled"> <br>
    Enable Normalization<input type="checkbox" id="checkbox" v-model="normalizationEnabled"><br>
    Select a dataset to display its spectrum


    <div id="classList" style="height: 200px; width: 300px; overflow-y:auto; display: inline-block; float: left" >
    Classes

      <ul id="example-1"> 
      <li v-for="class in classList">
        <button v-on:click ="SelectClass(class, $event)" class="btn btn-primary btn-xs">{{class}}</button>
        <input type="checkbox" id="checkbox" v-model="checkedClasses[class]">
      </li>
      <br><br>
       <!-- <button v-on:click="DeleteDataSet($event)">Delete Dataset</button> -->
      </ul>
    </div>



<canvas id="myChart" width="600" height="400" ></canvas>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Classifier</h4>
      </div>
      <div class="modal-body">
          <h2><span class="label label-success"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{classifierGuess}}</span></h2>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>

<div id="PlotContainer">
  
  <div id="Plot2D">
    <canvas id="pcaChart" width="500" height="400"></canvas>
  </div>
  <div id="Plot3D">  
    <div id="myDiv"></div>
  </div>
</div>
</center>







<!-- END HTML --> 


<!-- js includes -->
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script src='frame.js'></script>
<script src="plots.js"></script>
<!-- end js includes -->



</body>
</html>
